{% extends 'base.html' %}

{% block content %}
    <h2>Game History</h2>
    <h2>Introduction about Chess</h2>
    <p>Chess is a game that played with stagey. As per my knowledge some royal group of people has invented this game played from a long time and now its been played professional level in the world</p>
    <p>Some General points about chess :</p>
    <ul>
        <li>It has 16 pieces played in a 8x8 square board with two different colors.</li>
        <li>Colors can be black or white</li>
        <li>There are 6 types of pieces named King, Queen, Rook, Bishop, Knight, Pawn</li>
    </ul>

{% endblock %}
