{% extends 'base.html' %}

{% block content %}
    <h2>Chess Rules</h2>
    <h2>Moves of Chess pieces: </h2>
    <ul>
        <li><strong>King:</strong> The King can  move in any direction (straight or diagonally) but has limit to move only one square for each move. King involves in Check or Checkmate which make a game win or lose. </li>
        <li><strong>Queen:</strong> Queen can move any number of squares in all directions.</li>
        <li><strong>Bishop:</strong>This can move any number squares but only in diagonal direction.</li>
        <li><strong>Knight:</strong> Moves in 'L' shape with overriding any pieces in between.</li>
        <li><strong>Rook:</strong> This moves only straight direction with any number of squares.</li>
        <li><strong>Pawn:</strong> This element has 3 functions, Moves two squares forward at start of game. Then after can move only one square forward. But can move one square diagonally to capture the opponent pieces.</li>
    
    </ul>  
{% endblock %}
